form label{
    display: inline-block;
    margin: 10px;
    width: 100px;
}
form  [type="submit"]{
    width: 140px;
    height: 40px;
    font-size: 13pt;
    font-weight: bold;
    margin: 10px;
}

.result{
    width: fit-content;
    margin: 10px;
    padding: 10px;
    border: 1px solid black;
}
.error{
    color: red; 
}
.ok {
    color : green; 
}